:root {
    --bg-color: #EEEEEE;
    --card-color: #3D7E9A;
    --shadow: #f7931a;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    margin: auto;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.gameboard {
    display: grid;
    height: 50vh;
    margin: 1rem auto auto auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    perspective: 1080px;
}

.counter,
.card {
    display: flex;
}

#counter h3 {
    font-size: 2.25rem;
}

#counter p {
    font-size: .75rem;
}



.card {
    margin: 1rem;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card.flip {
    transform: rotateY(180deg);
    box-shadow: 0 0 20px 3px var(--shadow);
}

.card:active {
    transform: scale(0.9);
}

.card-face {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    backface-visibility: hidden;
    padding: 8px;
    box-shadow: 0 0 10px 0 #4d4d4d;
    /* -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; */
}

.card-face:hover {
    box-shadow: 0 0 15px 3px var(--shadow);
}

.back {
    background-color: #4d4d4d;
}

.front {
    transform: rotateY(180deg);
    background-color: #fff;
}

.match {
    box-shadow: 0 0 20px 3px var(--shadow);
}

@media (min-width: 768px) {
    .gameboard{
        height: 60vh;
    }
    .card{
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1024px) {
    .gameboard{
        height: 75vh;
    }
    .card {
        width: 125px;
        height: 125px;
    }
}