:root {
    --bg-color: #EEEEEE;
    --card-color: #3D7E9A;
    --orange: #f7931a;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    margin: auto;
}

footer {
    margin-top: 1rem;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.gameboard {
    display: grid;
    height: 50vh;
    margin: 1rem auto 1rem auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    perspective: 1080px;
}

#counter,
.card {
    display: flex;
    justify-items: center;
}

#counter h3 {
    font-size: 2.25rem;
    margin-bottom: 5px;
}

#counter p {
    font-size: .75rem;
}

#counter {
    flex-direction: column;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(77, 77, 77), rgba(77, 77, 77, .9));
}

.overlay-content {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: #fff;
}

#new-game-button {
    margin: auto;
    max-width: 250px;
    width: 30%;
}

.card {
    margin: auto 1rem;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    opacity: .5;
}

.card.flip {
    transform: rotateY(180deg);
    box-shadow: 0 0 20px 3px var(--orange);
}

.card:active,
.btn:active {
    transform: scale(0.9);
}

.card-face {
    position: absolute;
    left: -5px;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 0 10px 0 #4d4d4d;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    transition: all .2s linear;
}

.card-face:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 15px 3px var(--orange);
}

.back {
    background-color: #4d4d4d;
}

.front {
    transform: rotateY(180deg);
    background-color: #fff;
}

.btn {
    padding: 1rem;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    background-color: var(--orange);
    box-shadow: 0 0 10px 0 #4d4d4d;
    transition: all .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: var(--orange);
    border: 2px solid var(--orange);
    box-shadow: 0 0 20px 3px #4d4d4d;
}

.match {
    box-shadow: 0 0 20px 3px var(--orange);
}

@media (min-width: 768px) {
    .gameboard {
        height: 60vh;
    }

    .card {
        width: 100px;
        height: 100px;
    }

    .card-face {
        left: -3px;
    }
}

@media (min-width: 1024px) {
    .gameboard {
        height: 75vh;
    }

    .card {
        width: 125px;
        height: 125px;
    }

    .card-face {
        left: -1px;
    }
}